:root {
  --green: #4CAF50;
  --blue: #2196F3;
  --light-gray: #F5F5F5;
  --dark-bg: #242424;
  --light-bg: #ffffff;
  --text-light: rgba(255, 255, 255, 0.87);
  --text-dark: #213547;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dark-bg);
  color: var(--text-light);
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--blue);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-dark);
    background-color: var(--light-bg);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--light-gray);
  }
}